//region Font Settings
@font-face {
    font-family: 'Gotham Bold';
    src: url("../fonts/gotham/bold/gotham.eot");
    src: url("../fonts/gotham/bold/gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/bold/gotham.woff") format("woff"), url("../fonts/gotham/bold/gotham.ttf") format("truetype"), url("../fonts/gotham/bold/gotham.svg#gotham") format("svg"); }

@font-face {
    font-family: 'Gotham Light';
    src: url("../fonts/gotham/light/gotham.eot");
    src: url("../fonts/gotham/light/gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/light/gotham.ttf") format("truetype"), url("../fonts/gotham/light/gotham.svg#gotham") format("svg"); }

@font-face {
    font-family: 'Gotham Italic';
    src: url("../fonts/gotham/italic/gotham.eot");
    src: url("../fonts/gotham/italic/gotham.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/italic/gotham.ttf") format("truetype"), url("../fonts/gotham/italic/gotham.svg#gotham") format("svg"); }
//endregion

//region General Settings
/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer; }

/* -----------------------------------------------------------------------------
 * General Settings
 * -------------------------------------------------------------------------- */
html, body {
    height: 100%; }

body {
    font-family: "Gotham Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #646464; }

/* ----- Body Root Settings ----- */
div[tmpl-approot] {
    min-height: 100%;
    position: relative; }

p {
    font-size: 16px; }

section {
    margin-bottom: 40px; }
section h3 {
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 30px; }
section p {
    text-align: justify;
    line-height: 28px;
    margin-bottom: 15px; }
//endregion

//region Header
/* -----------------------------------------------------------------------------
 * Header
 * -------------------------------------------------------------------------- */
/* ----- Settings ----- */
div[tmpl-topnav], div[tmpl-footer] {
    background-color: #2e2e2e; }

/* ----- Centering Header Elements ----- */
.container.menu {
    text-align: center; }
.container.menu #logo a img {
    max-width: 100%; }

/* ----- Menu Settings ----- */
.navbar {
    border: none;
    margin: 0;
    min-height: initial; }

.navbar-nav > li.active a {
    border-bottom: 4px solid #fbda2c; }

.navbar-nav > li > a {
    color: #FFFFFF;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    z-index: 2;
    transition: color 0.8s; }
.navbar-nav > li > a:link {
    background-color: transparent;
    color: #FFFFFF; }
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #f5c521; }
.navbar-nav > li > a:active {
    background-color: #424242;
    color: #f5c521; }

.btn.montar-embalagem {
    color: #2e2e2e;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #fbda2c;
    border: none;
    box-shadow: 0 5px #f39e18;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 25px; }
.btn.montar-embalagem:hover {
    background-color: #efca05; }
.btn.montar-embalagem:active {
    background-color: #efca05;
    box-shadow: 0 3px #b57209;
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }

.menu-contato .montar-embalagem,
.menu-contato .contato-info {
    display: inline-block; }

.menu-contato .contato-info {
    color: #FFFFFF; }
.menu-contato .contato-info .telefone {
    margin: 0 15px 0 30px;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.menu-contato .contato-info .telefone h5 {
    margin: 5px; }
.menu-contato .contato-info *,
.menu-contato .contato-info .telefone > * {
    display: inline-block; }
.menu-contato .contato-info .social-links a {
    margin: 0 5px; }
.menu-contato .contato-info .social-links a.facebook {
    margin: 0; }
.menu-contato .contato-info .social-links a img {
    width: 24px;
    height: 24px; }

/* ----- Menu Responsive ----- */
.navbar-toggle {
    border-color: #FFFFFF;
    margin-right: 0; }
.navbar-toggle .icon-bar {
    background-color: #FFFFFF; }

/* ----- Banner Image ----- */
.carousel-inner > .item > img,
.carousel-inner > .item > div > img {
    min-width: 100%;
	max-width: 100%; }
//endregion

//region Footer
/* -----------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------- */
/* ----- Settings ----- */
div[tmpl-footer] {
    color: #FFFFFF;
    text-align: center; }

.footer {
    padding: 25px 0 15px; }
.footer .logo {
    display: inline-block; }
.footer .logo a {
    display: block; }
.footer .menu-contato {
    padding: 5px 0 10px; }
.footer .menu-contato .contato-info {
    margin: 0 auto;
    width: auto; }
.footer .menu-contato .contato-info .telefone {
    margin: 0 15px 0 0; }

/* ----- Newsletter ----- */
.newsletter {
    background-color: #ecb90e;
    color: #201f1f;
    padding: 20px 0;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.newsletter p {
    font-size: 15px; }
.newsletter .news-col {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px; }
.newsletter .news-col .btn-newsletter {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0;
    color: #ecb90e; }
.newsletter .news-col .form-control {
    outline: none;
    border-radius: 0;
    height: 100%;
    background-color: #ecb90e;
    border: 1px solid #201f1f;
    color: #201f1f; }

[placeholder] {
    /* Firefox 4 - 18 */
    font-family: "Gotham Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none; }
[placeholder]::-moz-placeholder {
    color: #201f1f;
    opacity: 1;
    transition: opacity 250ms ease-in-out; }
[placeholder]:focus::-moz-placeholder {
    opacity: 0.5; }
[placeholder]:-ms-input-placeholder {
    color: #201f1f;
    transition: opacity 250ms ease-in-out; }
[placeholder]:focus:-ms-input-placeholder {
    opacity: 0.5; }
[placeholder]::-webkit-input-placeholder {
    color: #201f1f;
    transition: opacity 250ms ease-in-out; }
[placeholder]:focus::-webkit-input-placeholder {
    opacity: 0.5; }
[placeholder] :-moz-placeholder {
    color: #201f1f;
    opacity: 1;
    transition: opacity 250ms ease-in-out; }
[placeholder] :focus:-moz-placeholder {
    opacity: 0.5; }
//endregion

//region Conteúdo
/* -----------------------------------------------------------------------------
 * Content
 * -------------------------------------------------------------------------- */
div[tmpl-home] section {
    margin-bottom: 0; }

//region Página Home -> Seção 'O Que Fazemos'
/* ----- O Que Fazemos ----- */
#sobre {
    color: #484747; }
#sobre h3,
#sobre p {
    text-align: center; }
#sobre p {
    margin-bottom: 30px; }
#sobre .produtos {
    text-align: center;
    margin-top: 20px; }
#sobre .produtos .produto {
    padding: 15px; }
#sobre .produtos .produto a {
    display: inline-block;
    border: 10px solid #000; }
#sobre .produtos .produto a img {
    border: 3px solid #494c4e;
    max-width: 100%; }
#sobre .produtos .produto a img:hover {
    border-color: #f5c91d; }
//endregion

//region Página Home -> Seção 'Portfólio'
/* ----- Portfolio Home ----- */
#portfolio-slider .carousel-inner .carousel-control {
    background: none; }
#portfolio-slider .carousel-inner .carousel-control img {
    max-height: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: -5px; }

#portfolio-slider .carousel-inner .right.carousel-control {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

#portfolio-slider .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%; }
#portfolio-slider .carousel-indicators:before, #portfolio-slider .carousel-indicators:after {
    content: " ";
    display: table; }
#portfolio-slider .carousel-indicators:after {
    clear: both; }
#portfolio-slider .carousel-indicators > li {
    border: none;
    margin: 0; }
#portfolio-slider .carousel-indicators > li,
#portfolio-slider .carousel-indicators .active {
    padding: 0;
    text-indent: initial;
    height: auto;
    background: #f5c91d;
    border-radius: 0; }
#portfolio-slider .carousel-indicators > li img,
#portfolio-slider .carousel-indicators .active img {
    width: 100%; }
#portfolio-slider .carousel-indicators > li img:hover,
#portfolio-slider .carousel-indicators .active img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30); }
#portfolio-slider .carousel-indicators .active img {
    opacity: 0.3;
    filter: alpha(opacity=30); }
//endregion

//region Página Home -> Seção 'Orçamento'
/* ----- Orçamento Home ----- */
#orcamento {
    background: url("/images/bg_orcamento.jpg") center center no-repeat;
    background-size: cover;
    padding: 70px 0;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#orcamento h4 {
    margin: 40px 0 0;
    color: #FFFFFF;
    text-align: center; }
#orcamento .solicitar {
    text-align: center;
    margin: 40px 0; }
#orcamento .solicitar a.montar-embalagem {
    padding: 15px 25px; }
//endregion

//region Página Quem Somos
#quem-somos {
    padding: 20px 0;
    overflow: hidden; }
#quem-somos .solucoes-personalizadas {
    position: relative;
    padding: 50px 0; }
#quem-somos .solucoes-personalizadas p {
    padding: 50px 34% 50px 14%;
    border: 2px dashed #e8c31f;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #515356;
    text-align: center;
    margin-bottom: 0; }
#quem-somos .solucoes-personalizadas p span {
    color: #eeca21;
    font-size: 32px; }
#quem-somos .solucoes-personalizadas .image {
    position: absolute;
    top: 0;
    right: -180px;
    max-height: 100%;
    max-width: 400px; }
#quem-somos .solucoes-personalizadas .image img {
    max-width: 100%;
    max-height: 100%; }
//endregion

//region Página O Que Fazemos
#produtos .produto {
	margin-bottom: 30px; }
#produtos .produto:before, #produtos .produto:after {
	content: " ";
	display: table; }
#produtos .produto:after {
	clear: both; }
#produtos .produto h4 {
	font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #f5af21; }
#produtos .produto p.bold {
	font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#produtos .produto img {
	margin: 0 auto; }
//endregion

//region Página Portfólio
#portfolio #slider .carousel-indicators {
	bottom: 0; }
#portfolio #slider .carousel-indicators li {
	background: #FFFFFF; }
#portfolio #slider .carousel-indicators li, #portfolio #slider .carousel-indicators li.active {
	width: 18px;
	height: 18px;
	margin: 1px; }
#portfolio #slider .carousel-indicators li.active {
	background: #bc820d !important;
	border: none; }

#portfolio #slider .carousel-inner {
	margin: 0 5%;
	width: auto; }

#portfolio #slider .carousel-control {
	background: #FFFFFF;
	width: 5%; }
#portfolio #slider .carousel-control img {
	max-height: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-left: -5px; }

#portfolio #slider .right.carousel-control {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg); }
//endregion

//region Página Clientes
#clientes .clientes a {
    display: block; }
#clientes .clientes a img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 500ms ease-in-out; }
#clientes .clientes a:hover img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%); }
//endregion

//region Página Localização
#localizacao {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; }
#localizacao #contato {
    margin-top: 30px;
    margin-bottom: 80px; }
#localizacao #contato input {
    height: 50px; }
#localizacao #contato textarea {
    resize: none;
    min-height: 245px; }
#localizacao #contato input,
#localizacao #contato textarea {
    border-radius: 0;
    /* Firefox 4 - 18 */ }
#localizacao #contato input::-moz-placeholder,
#localizacao #contato textarea::-moz-placeholder {
    color: #afaeae;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    font-family: "Gotham Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
#localizacao #contato input:focus::-moz-placeholder,
#localizacao #contato textarea:focus::-moz-placeholder {
    opacity: 0.5; }
#localizacao #contato input:-ms-input-placeholder,
#localizacao #contato textarea:-ms-input-placeholder {
    color: #afaeae;
    transition: opacity 250ms ease-in-out;
    font-family: "Gotham Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
#localizacao #contato input:focus:-ms-input-placeholder,
#localizacao #contato textarea:focus:-ms-input-placeholder {
    opacity: 0.5; }
#localizacao #contato input::-webkit-input-placeholder,
#localizacao #contato textarea::-webkit-input-placeholder {
    color: #afaeae;
    transition: opacity 250ms ease-in-out;
    font-family: "Gotham Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
#localizacao #contato input:focus::-webkit-input-placeholder,
#localizacao #contato textarea:focus::-webkit-input-placeholder {
    opacity: 0.5; }
#localizacao #contato input :-moz-placeholder,
#localizacao #contato textarea :-moz-placeholder {
    color: #afaeae;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    font-family: "Gotham Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold; }
#localizacao #contato input :focus:-moz-placeholder,
#localizacao #contato textarea :focus:-moz-placeholder {
    opacity: 0.5; }
#localizacao #contato #btn_contato {
    color: #2e2e2e;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #fbda2c;
    border: none;
    box-shadow: 0 5px #f39e18;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 25px;
    outline: none; }
#localizacao #contato #btn_contato:hover {
    background-color: #efca05; }
#localizacao #contato #btn_contato:active {
    background-color: #efca05;
    box-shadow: 0 3px #b57209;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    outline: none; }
#localizacao .endereco h4 {
    text-align: center;
    font-family: "Gotham Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#localizacao .endereco h4 a, #localizacao .endereco h4 a:hover, #localizacao .endereco h4 a:active, #localizacao .endereco h4 a:link, #localizacao .endereco h4 a:focus, #localizacao .endereco h4 a:visited {
    text-decoration: none;
    color: #ecb90e; }
#localizacao #map {
    width: 100%;
    height: 500px; }
//endregion

//region Página Monte Seu Produto
#montar-produto {
	#opcoes-embalagem {
		margin: 30px 0 40px;
		.embalagens {
			margin-bottom: 10px;
			.item {
				.item-imagem {
					margin-bottom:10px;
					display: block;
					cursor: pointer;
					img {
						margin: 0 auto;
					}
				}
				.item-selector {
					text-align: center;
					* {
						display: inline-block;
						vertical-align: middle;
					}
					label {
						font-family: $gotham-light;
						font-size:22px;
						font-weight:bold;
						margin-bottom:0;
						cursor: pointer;
					}
				}
			}
		}
	}
	#form-orcamento {
		label {
			font-size:16px;
			font-weight:bold;
		}
		.anexo {
			label.btn-default {
				color: inherit;
			}
			input[type="file"] {
				display: none;
			}
			span {
				font-family: $gotham-bold;
				word-wrap: break-word;
				font-size: 12px;
				&.sem-anexo {
					padding-left: 20px;
					color: #e4af0b;
				}
			}
		}
		.extensoes {
			small {
				font-family: $gotham-bold;
				span {
					color: #e4af0b;
				}
			}
		}
		.quantidade {
			.control {
				input[type="number"] {
					font-weight: bold;
					font-size: 20px;
					color: #e4af0b;
					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						margin:0;
					}
				}
				button {
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					background-color: #cecccc;
				}
				input[type="number"],
				button {
					height: 50px;
				}
			}
			.btn.montar-embalagem {
				width: 100%;
				padding: 12px 15px;
				margin-top: 27px;
			}
		}
	}
}
//endregion

//endregion

//region Responsive Settings
/* -----------------------------------------------------------------------------
 * Responsive
 * -------------------------------------------------------------------------- */
//region MAX-WIDTH 767px
@media (max-width: 767px) {
    .navbar-nav > li.active,
    .navbar-nav > li > a:hover {
        background-color: #424242; }
    .navbar-nav > li.active a {
        border: none;
        color: #f5c521; }
    .menu-contato .montar-embalagem,
    .menu-contato .contato-info {
        display: block;
        max-width: 300px;
        margin: 0 auto; }
    .menu-contato .contato-info .telefone {
        margin: 0 15px 0 0; }
    .menu-contato .montar-embalagem {
        margin-top: 20px;
        margin-bottom: 10px; }
    .navbar-toggle {
        float: none; }
    #quem-somos .solucoes-personalizadas p {
        padding: 50px 20px;
        border: 2px dashed #e8c31f;
        font-size: 20px; }
    #quem-somos .solucoes-personalizadas p span {
        font-size: 24px; }
    #quem-somos .solucoes-personalizadas .image {
        display: none; } }
	#montar-produto {
		#opcoes-embalagem {
			.embalagens {
				.item {
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
//endregion

//region MIN-WIDTH 768px
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: block;
        float: none;
        margin: 0 auto; }
    .navbar-nav > li > a {
        padding: 8px; }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0; }
    .nav > li {
        display: inline-block;
        float: none; }
    .container.menu {
        position: relative; }
    .container.menu #logo {
        position: absolute;
        z-index: 1; }
    .container.menu #logo a {
        display: block; }
    .menu-contato {
        padding: 25px 0; }

    #quem-somos .solucoes-personalizadas p {
        border-right: none; } }
//endregion

//region MIN-WIDTH 768px AND MAX-WIDTH 991px
@media (min-width: 768px) and (max-width: 991px) {
    .menu-contato {
        padding: 25px 0 15px; }
    .menu-contato .contato-info {
        margin-top: 10px; }
    #quem-somos .solucoes-personalizadas p {
        padding: 50px 34% 50px 5%;
        font-size: 20px; }
    #quem-somos .solucoes-personalizadas p span {
        font-size: 24px; } }
//endregion

//region MIN-WIDTH 992px
@media (min-width: 992px) {
    .nav > li > a {
        padding: 10px;
        font-size: 12px; }
    .navbar {
        margin-top: 30px; }
    .navbar li.active a {
        padding: 10px 15px 6px; }
    #quem-somos .solucoes-personalizadas p {
        padding: 50px 30% 50px 7%; }
    #quem-somos,
    #logistica,
    #clientes,
    #portfolio,
    #produtos,
    #localizacao,
	#montar-produto {
        padding: 60px 0; } }
//endregion

//region MIN-WIDTH 1200px
@media (min-width: 1200px) {
    .nav > li > a {
        padding: 10px 15px 6px;
        font-size: 14px; }
    #quem-somos .solucoes-personalizadas p {
        padding: 50px 34% 50px 13%; } }
//endregion
//endregion